---
import BotonPrimario from "../components/Common/BotonPrimario.astro";
import BotonSecundario from "../components/Common/BotonSecundario.astro";
import Nav from "../components/Common/Nav.astro";
import PaginaDeBlogs from "../layouts/PaginaDeBlogs.astro";
---

<PaginaDeBlogs>
  <Nav />
  <main
    class="flex flex-col items-center mt-28 mb-24 px-4 h-[100vh]"
  >
    <div
      class="max-w-[900px] w-full flex flex-col justify-center items-center gap-8"
    >
      <h1>Blogs</h1>
      <div class="w-full flex gap-12">
        <ul class="flex gap-6 w-full flex-col sm:flex-row flex-wrap justify-center">
          <li><BotonPrimario texto="Blog de prueba" enlace="/blog/prueba" target="_self"/></li>
        </ul>
      </div>
    </div>
  </main>
</PaginaDeBlogs>
