<html>
  <head>
    <meta
      http-equiv="refresh"
      content="0;url=https://discord.com/invite/TMCnxb2pqc"
      transition:animate="fade"
      window-target="_blank"
    />
  </head>
  <body></body>
</html>

<style>
  @media (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
  }
  </style>