---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Index/Header.astro";
import Nav from "../components/Common/Nav.astro";
import Footer from "../components/Common/Footer.astro";
import Background from "../components/Common/Background.astro";
import Proyectos from "../components/Index/Proyectos.astro";
import Habilidades from "../components/Index/Habilidades.astro";
---

<Layout title="wDona">
  <Nav />
  <Header />

  <main class="flex flex-col justify-center items-center">
    <div class="max-w-[900px] flex flex-col justify-center items-center gap-1">
      <!-- <Curriculum/> -->
      <!-- <GridCards/> -->
      <Proyectos />
      <Habilidades />
    </div>
  </main>
  
  <Footer />
</Layout>
