---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Curriculum from '../components/Curriculum.astro';
import SobreMi from '../components/SobreMi.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MiauDona">
	<Nav/>
	<Header/>
	
	<main>
		<h1>Adote um gatinho</h1>
		<p>Conheça nossos gatinhos disponíveis para adoção</p>
	</main>
	<Curriculum/>
	<SobreMi/>
	
	<Footer/>
</Layout>

<style>
	
	main {
		
	}
	
	
	
</style>
