---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Common/Footer.astro";
import Nav from "../components/Common/Nav.astro";
import SobreMi from "../components/Index/SobreMi.astro";
---

<Layout title="MiauDona">
<Nav />
  <main class="flex flex-col justify-center items-center">
    <div class="max-w-[900px] flex flex-col justify-center items-center gap-1">
      <SobreMi/>
    </div>
  </main>
  <Footer />
</Layout>
