---
interface Props {
    o: string;
    tx: string;
    ty: string;
    y?: string;
    x?: string;
}

const o = Astro.props.o; // Opacidad
const tx = Astro.props.tx ; // Tamaño hacia un lado
const ty = Astro.props.ty; // Tamaño hacia arriba
const y = Astro.props.y || '0'; // Altura contando desde arriba
const x = Astro.props.x || '0'; // Distancia contando desde la izquierda

---

<div class="circulo"></div>

<style define:vars={{o, tx, ty, x, y}}>
    .circulo {
        width: 100vw;
        height: 40vh;
        background: radial-gradient(farthest-side, rgba(189, 73, 247, 1), rgba(0,0,0, 0.1));
        opacity: var(--o);
        position: absolute;
        top: var(--y);
        left: var(--x);
        border-radius: 50%;
        z-index: 1;

    }
</style>