---

import InfoCard from "./InfoCard.astro";
---
<div class="bg-black shadow-lg rounded-lg p-4 max-w-4xl w-11/12 h-5/12 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 content-center items-center justify-center w-full h-full">
        <div>
            <InfoCard/>
        </div>
        <div>
            <InfoCard/>
        </div>
    </div>
</div>
