---
import InfoCard from "./InfoCard.astro";
---
<div class="max-w-5xl w-11/12 h-5/12 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-2 content-center items-center w-full h-full">
        <InfoCard title="" text="" text2="" img="" link=""/>
        <InfoCard title="" text="" text2="" img="" link=""/>
        <InfoCard title="" text="" text2="" img="" link=""/>
        <InfoCard title="" text="" text2="" img="" link=""/>
        <InfoCard title="" text="" text2="" img="" link=""/>
        <InfoCard title="" text="" text2="" img="" link=""/>
    </div>
</div>
