---

import Background from "./Background.astro";
---

<header class="sm:h-[99.9vh] w-full flex sm:items-center sm:justify-center sm:gap-6 relative">
      <div class="lg:w-[900px] sm:w-[90%] w-[98%] pt-24 pl-4 sm:p-0 md:h-[35vh] flex sm:justify-start sm:items-start flex-col">
            <h1 class="text-4xl sm:text-6xl md:text-8xl jaini">MiauDona</h1>
            <p class="text-xl sm:text-xl md:text-2xl jaini">Desarrollador Trainee/Junior Full-Stack</p>
      </div>
      <!-- <div class="w-6/12 flex justify-end items-end flex-col">
            <div class="w-6/12">
                  <img src="img/logoPag.png" alt="MiauDona"/>
            </div>
      </div> -->
</header>




<style>
    h1, p {
          background: linear-gradient(to right, rgba(220, 173, 243, 1), rgba(197, 132, 228, 1), rgba(203, 118, 243, 1), rgba(197, 132, 228, 1), rgba(203, 118, 243, 1), rgba(197, 132, 228, 1), rgba(220, 173, 243, 1));
          background-clip: text;
          color: transparent;
          text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    }

</style>