<nav class=" text-white text-xl sm:text-2xl flex h-16 font-bold items-center fixed top-0 w-full">
    <div class="flex justify-between md:justify-around items-center lg:w-[900px] w-[100%] sm:mx-auto mx-auto">
      <div class="md:hidden">
        <div class=""><img src="img/menu.svg" alt="menu"></div>
      </div>
      <div class="hidden md:block">
        <a href=""><img src="img/Logo_MD.png" alt="Logo" /></a>
      </div>
      <div class="md:ml-28 hidden md:flex gap-2">
        <a href="projects.astro">Proyectos</a>
        <a href="wiki.astro">Wiki</a>
        <a href="blogs.astro">Blogs</a>
        <a href="repositories.astro">Repositorios</a>
      </div>
      <div class="flex gap-2">
        <a href="https://www.youtube.com/@miaudona"><img src="img/youtube.svg" alt="YT" /></a>
        <a href="https://www.instagram.com/miaudona.rs/"><img src="img/instagram.svg" alt="IG" /></a>
        <a href="https://github.com/MiauDona"><img src="img/github.svg" alt="GH" /></a>
      </div>
    </div>
  </nav>

  <style>
    
  </style>