<nav class=" text-white text-xl sm:text-2xl flex h-20 font-bold items-center fixed top-0 w-full">
    <div class="flex justify-between items-center lg:w-[900px] sm:w-[90%] w-[98%] mx-auto">
      <div class="md:hidden">
        <div class=""><img src="img/menu.svg" alt="menu"></div>
      </div>
      <div class="hidden md:block  ">
        <a href=""><img src="img/Logo_MD.png" alt="Logo" class="md:w-20 lg:w-24 " /></a>
      </div>
      <div class="md:ml-28 hidden md:flex gap-2">
        
      </div>
      <div class="flex gap-2">
        <a href="https://www.youtube.com/@miaudona" ><img src="img/youtube.svg" alt="YT"  class="lg:w-12"/></a>
        <a href="https://www.instagram.com/miaudona.rs/"><img src="img/instagram.svg" alt="IG" class="lg:w-12"/></a>
        <a href="https://github.com/MiauDona"><img src="img/github.svg" alt="Git"  class="lg:w-12"/></a>
      </div>
    </div>
  </nav>

