---
import Background from "./Background.astro";
interface Props {
    title: string;
    text: string;
    text2?: string;
    text3?: string;
    text4?: string;
    link?: string;
    img?: string;
}

---

<div class="card">
    <Background tx="120%" position="relative" o=".4"/>
    <div>

    </div>
</div>


<style>
    .card {
        border: 1px solid rgba(220, 173, 243, .3);
        background-color: rgba(220, 173, 243, .1);
        height: max-content;
        width: 100%;
        border-radius: 16px;
    }
</style>