---
import ProyectoCard from "./ProyectoCard.astro";
---
<div class="lg:w-[900px] sm:w-[90%] w-[98%]">
    <h2 class="text-6xl jaini pb-6">Proyectos principales</h2>
    <div class="grid grid-cols-1 gap-2 content-center items-center">
        <ProyectoCard tec="img/astrologo.webp" tec2="img/HTML5.webp" tec3="img/CSS3_logo.webp" title="Magma Maintained Web" text="Es una página web que debería de haber servido para presentar y descargar un server software de Minecraft actualizado por la comunidad, descontinuado por los desarrolladores oficiales." text2="" img="" link="https://magmamaintained.pages.dev/"/>
        <ProyectoCard tec="img/javalogo.webp" title="Space Invaders" text='"Juego" en la terminal automático. Consiste en 3 humanos contra 3 invasores extraterrestres y se disparan entre ellos. Ambos tienen 100 de vida. Los humanos tienen un escudo que evita el primer disparo. Las armas de los invasores tienen más probabilidad de quitar más vida' text2="" img="" link="SpaceInvaders1.0.jar"/>
        <ProyectoCard tec="" title="" text="" text2="" img="" link=""/>
        <ProyectoCard tec="" title="" text="" text2="" img="" link=""/>
        <ProyectoCard tec="" title="" text="" text2="" img="" link=""/>
        <ProyectoCard tec="" title="" text="" text2="" img="" link=""/>
    </div>
</div>
