<section class="flex">
  <div class="my-card">
    <article class="my-4 front-side rounded-2xl p-4">
      <h2 class="text-3xl mb-3 zilla-slab-regular">¿Quién soy?</h2>
      <p class="zilla-slab-light">
        Desde pequeño, la informática me fascina. Actualmente, estoy en 2º de
        Grado Medio en Sistemas Microinformáticos y Redes. En la ESO, consideré
        estudiar psicología, pero la pasión por la tecnología prevaleció. Ahora,
        mi enfoque está en explorar y comprender el mundo digital en constante
        evolución, motivado por el deseo de contribuir a su desarrollo y
        comprensión de manera significativa.
      </p>
    </article>
    <article class="my-4 back-side rounded-2xl p-4">
      <h2 class="text-3xl mb-3 zilla-slab-regular">¿Por qué MiauDona?</h2>
      <p class="zilla-slab-light">
        Mi nombre de usuario "MiauDona" surgió de una curiosa anécdota. Al
        invertir las sílabas de mi nombre original, obtenía "Donanfer", y a los
        9 años, cuando creé mi primer nombre de usuario en línea, lo elegí como
        "donanfer9". Con el tiempo, mis amigos en línea comenzaron a llamarme
        "Dona", y como me encantan los gatos, hace poco cambié mi nombre a
        "MiauDona".
      </p>
    </article>
  </div>
</section>

<style>
  section .my-card {
    transform-style: preserve-3d;
    transition: 0.3s;
    perspective: 1000px;
    height: max-content;
  }

  section:hover .my-card {
    transform: rotateY(180deg);
  }

  section:hover .my-card .front-side {
    display: none;
  }

  section:hover .my-card .back-side {
    display: block;
  }

  .front-side {
    color: #f3f4f6;
    transform: rotateY(0deg);
    background-color: #c714be4b;
    min-height: 200px;
    height: fit-content;
  }

  .back-side {
    color: #f3f4f6;
    display: none;
    transform: rotateY(-180deg);
    background-color: #2577f14b;
    min-height: 200px;
    height: fit-content;
  }
</style>
