---
interface Props {
  o: string;
  tx: string;
  ty?: string;
  y?: string;
  x?: string;
  position?: string;
  circle?: string;
}

const o = Astro.props.o; // Opacidad
const tx = Astro.props.tx; // Tamaño hacia un lado
const ty = Astro.props.ty || Astro.props.tx; // Tamaño hacia arriba
const y = Astro.props.y || Astro.props.x || "calc(50% - var(--ty)/2)"; // Altura contando desde arriba
const x = Astro.props.x || Astro.props.y || "calc(50% - var(--tx)/2)"; // Distancia contando desde la izquierda
const position = Astro.props.position || "absolute";
const circle = Astro.props.circle || "ellipse";
---

<div class="circulo hidden sm:block"></div>

<style define:vars={{ o, tx, ty, x, y, position, circle }}>
  .circulo {
    width: var(--tx);
    height: var(--ty);
    background: radial-gradient(
      var(--circle) farthest-side,
      rgba(189, 73, 247, 1),
      rgba(0, 0, 0, 0.1)
    );
    opacity: var(--o);
    position: var(--position);
    top: var(--y);
    left: var(--x);
    border-radius: 50%;
    z-index: -1;
  }
</style>
