---
interface Props {
    texto: string;
    enlace: string;
}

const texto = Astro.props.texto;
const enlace = Astro.props.enlace;
---

<a href={enlace}
   target="_blank"
   class="gradient-border zilla-slab-regular text-xl text-white px-3 py-1 text-center hover:scale-105 transition-all duration-200">
   {texto}
</a>

<style>
  .gradient-border {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
    background: transparent;
  }
  
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(to right, #a855f7, #ec4899, #ef4444);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }

</style>