---
interface Props {
    texto: string;
    enlace: string;
}

const texto = Astro.props.texto;
const enlace = Astro.props.enlace;
---

<div class="p-[2px] rounded-lg bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 inline-block hover:scale-105 transition-all duration-200">
  <a href={enlace}
     class="zilla-slab-regular block text-xl text-white rounded-lg sm:px-4 sm:py-2 px-4 py-2 w-full sm:w-auto text-center
            bg-black">
     {texto}
  </a>
</div>

