---
import LineaSeparadoraHorizontal from "./LineaSeparadoraHorizontal.astro";
---

<nav
  class="text-white text-xl sm:text-2xl h-20 fixed top-0 w-full z-10 flex items-center justify-center flex-col px-4"
>
  <div class="lg:flex lg:justify-center items-center w-full">
    <div
      class="flex justify-between items-center lg:w-[900px] sm:w-[90%] w-[98%] sm:px-[10%] lg:px-0 lg:margin-auto"
    >
      <!-- 
      <div class="md:hidden">
      <div class=""><img src="img/menu.svg" alt="menu" class="w-12 md:w-20 lg:w-24"></div>
      </div> -->
      <div class="items-center gap-8 hidden md:flex">
        <a href="/"><img src="/img/Logo_MD.png" alt="Logo" class="w-20" /></a>
        <div class="md:flex items-center md:gap-4">
          <a href="/" class="hover:underline zilla-slab-regular">Inicio</a>
          <a href="/blogs" class="hover:underline zilla-slab-regular" target="_blank">Blogs</a>
          <!-- 
            <a href="/sobre-mi" class="hover:underline">Sobre mí</a>
           -->
        </div>
      </div>

      <div class="md:hidden">
        <button
          id="menu-toggle"
          class="flex items-center"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <img src="/img/menu.svg" alt="menu" class="w-12 md:w-20 lg:w-24" />
        </button>
      </div>

      <div class="hidden md:flex gap-2 items-center">
        <a href="/youtube" target="_blank"
          ><img src="/img/youtube.svg" alt="YT" class="w-12" />
        </a>
        <a href="/github" target="_blank"
        ><img src="/img/github.svg" alt="Git" class="w-12" />
      </a>
      <a href="/discord" target="_blank"
        ><img src="/img/discordlogo.webp" alt="DC" class="w-10" />
      </a>
      </div>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="md:hidden w-full flex flex-col items-center gap-12 fixed top-20 z-50 h-[100vh] -translate-x-full left-0 opacity-0 transition-all duration-200"
  >
    <ul class="w-full text-center">
      <LineaSeparadoraHorizontal />
      <a href="/">
        <li class="py-4"><p class="zilla-slab-regular">Inicio</p></li>
      </a>
      <LineaSeparadoraHorizontal />
      <a href="/blogs">
        <li class="py-4"><p class="zilla-slab-regular">Blogs</p></li>
      </a>
      <LineaSeparadoraHorizontal />
    </ul>
    <div class="flex gap-6 items-center">
        <a href="/youtube" target="_blank"
          ><img src="/img/youtube.svg" alt="YT" class="w-12" />
        </a>
        <a href="/github" target="_blank"
        ><img src="/img/github.svg" alt="Git" class="w-12" />
      </a>
      <a href="/discord" target="_blank"
        ><img src="/img/discordlogo.webp" alt="DC" class="w-10" />
      </a>
      </div>
  </div>
</nav>
<div class="fixed top-20 w-full z-100 opacity-20">
  <LineaSeparadoraHorizontal />
</div>
<script is:inline>
  const toggleButton = document.getElementById("menu-toggle");
const menu = document.getElementById("mobile-menu");

toggleButton.addEventListener("click", () => {
  if (menu.classList.contains("-translate-x-full")) {
    // aparecer desde la izquierda
    menu.classList.remove("-translate-x-full", "opacity-0");
    menu.classList.add("translate-x-0", "opacity-100");
  } else {
    // desaparecer hacia la izquierda
    menu.classList.remove("translate-x-0", "opacity-100");
    menu.classList.add("-translate-x-full", "opacity-0");
  }
});
</script>

<style>
  nav,
  #mobile-menu {
    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(2px);
  }

  #mobile-menu {
    background-color: rgba(0, 0, 0, 0.952);
    backdrop-filter: blur(4px);
  }

  p {
    margin-top: 0;
  }
</style>
