---
import LineaSeparadoraHorizontal from "./LineaSeparadoraHorizontal.astro";
import MobileNav from "./Nav/Mobile.astro";
import DesktopNav from "./Nav/Desktop.astro";
---

<nav
  class="text-white text-xl sm:text-2xl h-20 fixed top-0 w-full z-10 flex items-center justify-center flex-col px-4"
>
  <div class="lg:flex lg:justify-center items-center w-full">
    <div
      class="flex justify-between items-center lg:w-[900px] sm:w-[90%] w-[98%] sm:px-[10%] lg:px-0 lg:margin-auto"
    >
      <DesktopNav />
      <MobileNav />
    </div>
  </div>

  
</nav>
<div class="fixed top-20 w-full z-100 opacity-20">
  <LineaSeparadoraHorizontal />
</div>

<style>
  nav {
    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(2px);
  }

  

  p {
    margin-top: 0;
  }
</style>
