---
import Background from "../Common/Background.astro";
import Habilidad from "./Habilidades/Habilidad.astro";
---

<section class="lg:w-[900px] sm:w-[90%] w-[98%] pt-24 sm:pt-0">
  <h2 class="text-5xl zilla-slab-regular mb-16 text-center">Habilidades</h2>
  <div
    class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 zilla-slab-regular content-center items-center mb-12 relative sm:gap-8 gap-4"
  >
    <Habilidad img="img/astrologo.webp" title="Astro" />
    <Habilidad img="img/kotlinlogo.webp" title="Kotlin" />
    <Habilidad img="img/jetpackcomposelogo.webp" title="Compose" />
    <Habilidad img="img/ktorlogo.webp" title="Ktor" />
    <Habilidad img="img/github.svg" title="GitHub" />
    <Habilidad img="img/javalogo.webp" title="Java" />
    <Habilidad img="img/CSS3_logo.webp" title="CSS3" />
    <Habilidad img="img/HTML5_logo.png" title="HTML5" />
    <Habilidad img="img/javafxlogo.webp" title="JavaFX" />
    
  </div>
</section>
