---
import Background from "../Common/Background.astro";
import BotonPrimario from "../Common/BotonPrimario.astro";

---

<header class="sm:h-[99.9vh] w-full flex items-center justify-center sm:gap-6 relative ">
  <div class="lg:w-[900px] flex items-center justify-center">
    <div class=" sm:w-6/12 w-[98%] px-[2%] sm:px-[5%] lg:px-0 pt-32 sm:h-[35vh] flex justify-center items-center flex-col sm:gap-12 gap-6">
      <div>
        <h1 class="text-6xl sm:text-8xl zilla-slab-regular text-center">wDona</h1>
        <p class="text-xl sm:text-2xl zilla-slab-regular text-center"> Desarrollador multiplataforma</p>
      </div>
      <div>
        <BotonPrimario texto="Contactame" enlace="mailto:me@wdona.dev" />
      </div>
    </div>
    <div class="lg:w-6/12 hidden sm:block flex justify-center items-center">
      <div class="w-6/12 flex justify-center items-center mx-auto">
        <img src="img/logoPag.png" class="w-[80%]" alt="wDona" />
      </div>
    </div>
  </div>
    
  
</header>

<style>
  h1,
  p {
    background: linear-gradient(
      to right,
      rgba(220, 173, 243, 1),
      rgba(197, 132, 228, 1),
      rgba(203, 118, 243, 1),
      rgba(197, 132, 228, 1),
      rgba(203, 118, 243, 1),
      rgba(197, 132, 228, 1),
      rgba(220, 173, 243, 1)
    );
    background-clip: text;
    color: transparent;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
  }
</style>
