---
import Background from "../Common/Background.astro";
import ProyectoCard from "./Proyectos/ProyectoCard.astro";
---
<div class="lg:w-[900px] sm:w-[90%] w-[98%] pt-24 sm:pt-0">
  <h2 class="text-5xl zilla-slab-regular mb-16 text-center">Proyectos principales</h2>
  <div class="grid grid-cols-1 gap-8 zilla-slab-regular content-center items-center mb-12 relative">
       
    <Background o=".2" tx="200vw" ty="100vh" x="-120vw" y="10vh" visibleMobile="" />

    <ProyectoCard
      tec="img/kotlinlogo.webp"
      tec2="img/jetpackcomposelogo.webp"
      tec3="img/ktorlogo.webp"
      title="Burn't out"
      text="Aplicación móvil y desktop para la asignación y seguimiento de tareas en equipos de trabajo mientras se fomenta el bienestar, orientado a evitar sindrome de Burnout."
      text2="Es mi proyecto intermodular de desarrollo de aplicaciones multiplataforma, desarrollado en Kotlin con Jetpack Compose para la interfaz y Ktor para la API."
      img="img/burntoutlogo.webp"
      summary="Trello gamificado que fomenta trabajo en equipo y evita el burnout. No disponible hasta mayo."
      link="https://wdona.dev/burn-t-out/"
    />
    <ProyectoCard
      tec="img/astrologo.webp"
      title="Mi portfolio web"
      text="Este es mi portfolio web, donde muestro mis proyectos y habilidades."
      text2="Está desarrollado con Astro, un framework moderno para la creación de sitios web, generalmente estáticos."
      img="img/portfolioheadercomprimido.webp"
      summary="Pagina web en la que muestro lo que he hecho y ensenio mis conocimientos."
      link="https://github.com/wDona/wDona.github.io"
    />
      <!-- <ProyectoCard tec="" title="" text="" text2="" img="" summary="" link="" /> -->
  </div>
</div>
