---
import ProyectoCard from "../Common/ProyectoCard.astro";
---

<div class="lg:w-[900px] sm:w-[90%] w-[98%] pl-2 pt-24 sm:pt-0">
  <h2 class="text-5xl jaini pb-6">Proyectos principales</h2>
  <div class="grid grid-cols-1 gap-2 content-center items-center">
    <ProyectoCard
      tec="img/astrologo.webp"
      tec2="img/HTML5.png"
      tec3="img/CSS3_logo.webp"
      title="Magma Maintained Web"
      text=""
      text2=""
      img=""
      link=""
    />
    <ProyectoCard
      tec="img/javalogo.webp"
      title=""
      text=""
      text2=""
      img=""
      link=""
    />
    <ProyectoCard tec="" title="" text="" text2="" img="" link="" />
    <ProyectoCard tec="" title="" text="" text2="" img="" link="" />
    <ProyectoCard tec="" title="" text="" text2="" img="" link="" />
    <ProyectoCard tec="" title="" text="" text2="" img="" link="" />
  </div>
</div>
