---
import SobreMiCard from "./SobreMiCard.astro";
---
<h2>Sobre mí</h2>

<div>
  <SobreMiCard content="Test" icon="" />
  <SobreMiCard content="Test" icon="" />
  <SobreMiCard content="Test" icon="" />
</div>

<style>
    div {
        display: flex;
        gap: 1rem;
    }
</style>