---
import Background from "../Common/Background.astro";
import BotonSecundario from "../Common/BotonSecundario.astro";
---

<section
  class="flex justify-center items-center flex-col lg:w-[900px] sm:w-[90%] w-[98%] pt-24 sm:pt-0 relative"
>
  <Background o=".2" tx="100vw" ty="80vh" x="-20vw" y="10vh" />

  <Background o=".3" tx="100vw" ty="60vh" x="-40vw" y="-120vh" visibleMobile={false} />
  <Background o=".2" tx="200vw" ty="100vh" x="40vw" y="-70vh" />

  <article
    class="my-4 rounded-2xl p-4 mx-4 lg:mx-0 backdrop-blur-sm sm:max-w-[900px] w-full"
  >
    <div class="flex justify-center items-center gap-8">
      <h2 class="text-5xl mb-4 zilla-slab-regular text-center">¿Quién soy?</h2>
      <div class="flex justify-center items-center">
        <BotonSecundario texto="Sobre mí" enlace="https://wdona.dev/sobre-mi" />
      </div>
    </div>
    <p class="zilla-slab-regular text-xl">
      Hola, soy Dona, desarrollador multiplataforma especializado en Kotlin, KMP
      y Jetpack Compose, con preferencias a desarrollar back-end. Me apasiona
      crear aplicaciones con lógica avanzada y aprender nuevas soluciones.
    </p>

  </article>
</section>
