---
import Head from '../components/Common/Head.astro';
import '../styles/global.css';


interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Head 
    title="wDona | Desarrollador de aplicaciones multiplataforma" 
    titlePestana={title} 
    keywords="desarrollador, aplicaciones multiplataforma, portfolio, Astro, programación, frontend, backend, wdona, dona, miaudona, kotlin, jetpack compose, kmp" 
    description="Soy un desarrollador de aplicaciones multiplataforma, al que desde pequeño siempre le apasionaba la tecnología y siempre me han atraído los desafíos y las cosas difíciles." />
  </head>
  <body>
    <slot />
  </body>
</html>
