---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
  		font-family: "Paquito";
  		src: url("Paquito-Variable.woff") format("woff"); 
	}
	@font-face {
  		font-family: "Literata"; 
  		src: url("Literata-Variable.woff") format("woff"); 
	}

	.paquito {
		font-family: Paquito, sans-serif;
	}

	.literata {
		font-family: Literata, serif;
	}

	a {
		color: #0070f3;
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: rgb(8, 8, 8);
			color: white;
		}
	}

</style>
