---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="MiauDona es un desarrollador trainee-junior full-stack y creador de contenido en YouTube." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="img/Gato_D.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Jaini&family=Mitr:wght@200&family=Zilla+Slab:wght@300;400&display=swap");

  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .zilla-slab-light {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
  }

  .zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
  }

  .mitr {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .jaini {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .4px;
  }

  a {
    color: #0070f3;
    text-decoration: none;
  }

  h2 {
    font-family: "Literata Bold", sans-serif;
  }
  p {
    font-family: "Literata Light", sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(8, 8, 8);
      color: white;
    }
  }
</style>
