---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="img/Gato_D.png"/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
  		font-family: "Paquito";
  		src: url("img/Paquito-Variable.woff") format("woff"); 
	}
	@font-face {
  		font-family: "Literata Bold"; 
  		src: url("img/Literata-Bold.woff2") format("woff2"); 
	}
	@font-face {
  		font-family: "Literata Medium"; 
  		src: url("img/Literata-Medium.woff2") format("woff2"); 
	}
	
	@font-face {
  		font-family: "Literata Light"; 
  		src: url("img/Literata-Light.woff2") format("woff2"); 
	}

	.paquito {
		font-family: Paquito, sans-serif;
	}
	
	.literata-bold {
		font-family: "Literata Bold", serif;
	}
	
	.literata-medium {
		font-family: "Literata Medium", serif;
	}
	
	.literata-light {
		font-family: "Literata Light", serif;
	}

	a {
		color: #0070f3;
		text-decoration: none;
	}

	h2 {
    font-family: "Literata Bold", sans-serif;
  }
  	p {
    font-family: "Literata Light", sans-serif;
  }


	@media (prefers-color-scheme: dark) {
		body {
			background-color: rgb(8, 8, 8);
			color: white;
		}
	}

</style>
