<div class="items-center gap-8 hidden md:flex">
  <a href="/"><img src="/img/Logo_MD.png" alt="Logo" class="w-20" /></a>
  <div class="md:flex items-center md:gap-4">
    <a href="/" class="hover:underline zilla-slab-regular">Inicio</a>
    <a 
      href="/blogs" 
      class="hover:underline zilla-slab-regular" 
      target="_blank"
    >
      Blogs
    </a>
    <!-- 
        <a href="/sobre-mi" class="hover:underline">Sobre mí</a>
    -->
  </div>
</div>

<div class="hidden md:flex gap-2 items-center">
  <a href="/youtube" target="_blank"
    ><img src="/img/youtube.svg" alt="YT" class="w-12" />
  </a>
  <a href="/github" target="_blank"
    ><img src="/img/github.svg" alt="Git" class="w-12" />
  </a>
  <a href="/discord" target="_blank"
    ><img src="/img/discordlogo.webp" alt="DC" class="w-10" />
  </a>
</div>

<style>
  
</style>
